<main class="flex">
  <nav>
    <ul>
      <li>
        <a href="/schedules/new">Add New Dive</a>
      </li>
      <li>
        <a href="/bookings/new">Book a Dive</a>
      </li>
    </ul>
  </nav>

<h1>All Dives for the Week </h1>

<% for schedule in @schedules %>

<div class="dives">

<p>Location: <%=schedule.dives.location%></p>
<p>Time: <%=schedule.timing %></p>
<p>Day: <%=schedule.day%></p>
<p><a href="/schedules/<%=schedule.id%>">View Dive Details</a></p>
<form action="/schedules/<%=schedule.id%>/delete" method="post">
<input type="submit" value="Delete Dive"/>
</form>

<hr>
</div>

<% end  %>
