<main class="flex">
  <nav>
    <ul>
      <li>
        <a href="/bookings/new">Book a Dive</a>
      </li>
    </ul>
  </nav>

<h1>All Bookings </h1>

<% for booking in @bookings %>

<div class="booking">

<p>Diver: <%=booking.divers.name%></p>
<p>Location: <%=booking.schedule.dives.location%></p>
<p>Time: <%=booking.schedule.timing%> / <%= booking.schedule.session %></p>
<p>Day: <%=booking.schedule.dives.location%></p>


<p><a href="/bookings/<%=booking.id%>">View Booking Details</a></p>
<form action="/bookings/<%=booking.id%>/delete" method="post">
<input type="submit" value="Delete Booking"/>
<hr>

</div>

<% end  %>
