
<form action="/bookings" method="post">


  <label for="diver-select">
      Select the Diver:
      <select name="diver_id">
        <% for diver in @divers %>
        <option value="<%=diver.id%>"><%= diver.name %></option>
        <% end  %>
      </select>
    </label>


    <label for="dive-select">
        Select the Dive:
        <select name="schedule_id">
          <% for schedule in @schedules %>
          <option value="<%=schedule.id%>"><%= schedule.dives.location %> - <%= schedule.day  %> - <%= schedule.timing  %></option>
          <% end  %>
        </select>
      </label>


  <input type="submit" value="New Booking">
  </form>
